$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1200px";

$color-bg-blue: #81b3d2;
$color-bg-blue-hover: #669ec0;
$color-bg-blue-down: #5496bd;
$color-bg-footer: #fefefe;
$color-bg-gray: #eeeeee;
$color-light: #ffffff;
$color-input: #f2f2f2;
$color-text: #000000;
$color-text-dark: #333333;
$color-border-light: #e5e5e5;
$color-controls: #5c6870;
$color-controls-down: #c1c1c1;
$color-bg-card: #eaeaea;

$main-font: "PT Sans", "Arial", sans-serif;
