.advantages {
  text-align: center;
  background-color: $color-light;
}

.advantages__title-wrapper {
  padding: 25px 10% 42px 10%;
  background-image: url("../img/bg-triangle.svg"), linear-gradient(180deg, $color-light 0%, $color-light 80%, $color-bg-blue 80%, $color-bg-blue 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.advantages__title {
  @include text(18px, 26px);
}

.advantages__subtitle {
  margin-top: 26px;
  margin-bottom: 0;
  line-height: 26px;
  color: $color-text-dark;
}

.advantages__list {
  @include list;
}

.advantages__item {
  padding: 8px 15px 14px 15px;
  line-height: 21px;

  &--blue {
    padding: 22px 20px 25px 20px;
    color: $color-light;
    background-color: $color-bg-blue;
  }

  &--blue .advantages__item-description,
  &--blue .advantages__item-number {
    color: $color-light;
  }
}

.advantages__item-title {
  @include text(18px, 26px);
  margin-bottom: 10px;

  &--br br {
    display: none;
  }
}

.advantages__item-description,
.advantages__item-number {
  color: $color-text-dark;
}

.advantages__image {
  @include text(0, 0);
}

.advantages__image img {
  min-width: 50%;
}

.advantages__block-advantage--gray {
  background-color: $color-bg-gray;
}

.advantages__block-advantage--gray .advantages__list {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__block-advantage--gray .advantages__item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

@media ($tablet-widths) {
  .advantages__title-wrapper {
    padding-top: 33px;
    padding-bottom: 50px;
    background-image: none;
    background-color: $color-light;
  }

  .advantages__title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
  }

  .advantages__subtitle {
    margin-top: 28px;
  }

  .advantages__block-advantage {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .advantages__list {
    &--third {
      width: 33%;
      background-color: $color-bg-blue;
    }
  }

  .advantages__block-advantage--gray .advantages__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .advantages__block-advantage--gray .advantages__item:not(:last-child) {
    border: none;
  }

  .advantages__item {
    &--blue {
      padding-top: 24px;
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 31px;
    }

    &--third {
      width: 33%;
      padding-top: 24px;
      padding-left: 6%;
      padding-right: 6%;
      padding-bottom: 31px;
    }

    &--third:nth-child(n+2) {
      padding-left: 6.8%;
      padding-right: 6.8%;
    }
  }

  .advantages__item-title {
    font-size: 21px;
    margin-bottom: 10px;

    &--br br {
      display: inline;
    }
  }

  .advantages__item-description {
    margin-top: 20px;
  }

  .advantages__image {
    position: relative;
    width: 67%;
    overflow: hidden;
  }

  .advantages__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media ($desktop-widths) {
  .advantages__item {
    &--blue {
      padding-top: 32px;
      padding-bottom: 44px;
    }

    &--third {
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 53px;
    }

    &--third:nth-child(n+2) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .advantages__item-title {
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__item-description--br {
    padding-left: 10px;
    padding-right: 10px;
  }
}
