.container {
  width: 320px;
  margin: 0 auto;
  background-color: $color-light;
  box-shadow: 0 0 8px 4px rgba(219, 219, 219, 0.5);
}

@media ($tablet-widths) {
  .container {
    min-width: 768px;
  }
}

@media ($desktop-widths) {
  .container {
    width: 1200px;
  }
}
