.container {
  width: 320px;
  margin: 0 auto;
  background-color: $color-light;
}

@media ($tablet-widths) {
  .container {
    min-width: 768px;
  }
}

@media ($desktop-widths) {
  .container {
    width: 1200px;
  }
}
