.page-header {
  position: relative;
  background-color: $color-light;
}

.page-header__logo-wrapper {
  position: relative;
  height: 56px;
}

.page-header__logo-link {
  position: absolute;
  bottom: -27px;
  left: 50%;
  height: 83px;
  transform: translateX(-50%);
}
