.review {
  line-height: 26px;
}

.review input,
.review textarea {
  border-radius: 0;
}

.review input {
  @include placeholder {
    color: $color-text;
    opacity: 1;
  }
}

.review__title-wrapper {
  padding-top: 24px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $color-border-light;
}

.review__title {
  @include text(18px, 26px);
  margin-bottom: 26px;
  text-align: center;
}

.review__description {
  line-height: 24px;
  text-align: center;
  color: $color-text-dark;
}

.review__form {
  margin-bottom: 38px;
}

.review__fieldset {
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid $color-border-light;

  &--visited {
    padding-bottom: 0;
  }

  &--no-border {
    border: none;
  }

  &--impression {
    min-height: 274px;
  }
}

.review__legend {
  padding-top: 18px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &--name {
    margin-left: 70px;
  }

  &--contact {
    margin-left: 20px;
  }

  &--rating {
    margin-left: 20px;
  }

  &--impression {
    margin-left: 33px;
  }
}

.review__name-inner {
  display: flex;
  align-items: baseline;
  margin-bottom: 17px;
  padding-top: 3px;
}

.review__name-label {
  padding-right: 15px;
  color: $color-text-dark;
}

.review__name-input {
  @include text(18px, 26px);
  flex-grow: 1;
  width: 150px;
  padding: 16px 21px;
  font-family: $main-font;
  font-weight: bold;
  background-color: $color-input;
  border: none;
  box-sizing: border-box;
}

.review__name-input:hover,
.review__contact-input:hover,
.review__impression-textarea:hover {
  background-color: $color-border-light;
}

.review__name-input:focus,
.review__name-input:active,
.review__contact-input:focus,
.review__contact-input:active,
.review__impression-textarea:focus,
.review__impression-textarea:active {
  background-color: $color-light;
  box-shadow: inset 0 0 0 4px $color-border-light;
  outline-color: $color-border-light;
}

.review__contact-wrapper {
  padding-bottom: 10px;
}

.review__contant-inner {
  position: relative;
  padding-top: 2px;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    display: block;
    width: 58px;
    height: 58px;
    background-color: $color-input-decor;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::after {
    background-image: url("../img/phone.svg");
    background-size: 18px;
  }

  &--email::after {
    background-image: url("../img/mail.svg");
    background-size: 16px;
  }
}

.review__contact-label {
  display: block;
  padding-left: 22px;
  margin-bottom: 7px;
  color: $color-text-dark;
}

.review__contact-input {
  @include text(18px, 26px);
  width: 100%;
  padding: 16px 70px 16px 21px;
  font-family: $main-font;
  font-weight: bold;
  background-color: $color-input;
  border: none;
  box-sizing: border-box;
}

.review__rating-wrapper {
  padding-bottom: 14px;
}

.review__rating-input {
  display: none;
}

.review__rating-label {
  @include text(18px, 26px);
  position: relative;
  padding: 21px 0 21px 80px;
  display: block;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 56px;
    height: 56px;
    background-color: $color-input;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17px;
    display: none;
    width: 22px;
    height: 22px;
    background-color: $color-text-dark;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.review__rating-input:checked + .review__rating-label::after {
  display: block;
}

.review__visited-input {
  display: none;
}

.review__visited-label {
  @include text(18px, 26px);
  position: relative;
  padding: 13px 0 13px 80px;
  margin-bottom: 28px;
  display: block;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 56px;
    height: 56px;
    background-color: $color-input;
    border-radius: 5px;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 17px;
    display: none;
    width: 23px;
    height: 23px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }
}

.review__visited-label:hover::before,
.review__rating-label:hover::before,
.review__visited-label:focus::before,
.review__rating-label:focus::before {
  background-color: $color-border-light;
}

.review__visited-label:focus,
.review__rating-label:focus {
  outline: none;
}

.review__visited-label:active::before,
.review__rating-label:active::before {
  background-color: $color-input-down;
}

.review__visited-label:active::after,
.review__rating-label:active::after {
  opacity: 0.3;
}

.review__visited-input:checked + .review__visited-label::after {
  display: block;
}

.review__impression-textarea {
  @include text(18px, 26px);
  width: 100%;
  height: 160px;
  padding: 15px 20px;
  font-family: $main-font;
  font-weight: bold;
  background-color: $color-input;
  border: none;
  box-sizing: border-box;
}

.review__submit {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.review__required {
  display: none;
}

@media ($tablet-widths) {
  .review__title-wrapper {
    padding-top: 52px;
    padding-bottom: 42px;
    border-bottom: none;
  }

  .review__title {
    @include text(30px, 30px);
    margin-bottom: 29px;
  }

  .review__description {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
  }

  .review__fieldset {
    padding-top: 22px;
    border-bottom: none;

    &--name {
      order: 2;
      width: 50%;
      padding-left: 58px;
      padding-right: 60px;
      padding-top: 54px;
      margin-bottom: 45px;
    }

    &--contact {
      order: 3;
      width: 100%;
      margin-left: 60px;
      margin-right: 60px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 22px;
      border-top: 1px solid $color-border;
    }

    &--rating {
      order: 1;
      width: 50%;
      padding-left: 60px;
      padding-top: 47px;
      box-shadow: 37px -35px 0 -36px $color-border;
    }

    &--visited {
      order: 4;
      width: 100%;
      margin-left: 60px;
      margin-right: 60px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 40px;
      border-top: 1px solid $color-border;
    }

    &--impression {
      order: 5;
      width: 100%;
      min-height: 302px;
      margin-left: 60px;
      margin-right: 60px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 58px;
      padding-bottom: 15px;
      border-top: 1px solid $color-border;
    }
  }

  .review__submit-wrapper {
    display: flex;
    order: 6;
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
  }

  .review__submit {
    width: 50%;
  }

  .review__required {
    display: block;
    width: 50%;
    margin-top: 17px;
    text-align: right;
  }

  .review__legend {
    @include text(21px, 26px);

    &--rating {
      margin-left: 0;
      text-align: left;
    }

    &--name {
      margin-left: 0;
      text-align: left;
    }

    &--contact {
      margin-left: 124px;
      padding-top: 0;
      padding-left: 60px;
      padding-right: 60px;
    }

    &--visited {
      margin-left: 124px;
      width: 400px;
      padding-top: 0;
    }

    &--impression {
      margin-left: 124px;
      width: 400px;
      padding-top: 0;
    }
  }

  .review__rating-label {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 75px;
  }

  .review__contant-inner {
    margin-bottom: 21px;
  }

  .review__visited-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 93px;
    padding-top: 16px;
  }

  .review__visited-label {
    width: 260px;
    padding-top: 17px;
    padding-bottom: 17px;

    &::after {
      top: 23px;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 2;
    }

    &:nth-of-type(4) {
      order: 4;
    }
  }
}

@media ($desktop-widths) {
  .review__form {
    margin-bottom: 66px;
  }

  .review__title-wrapper {
    padding-top: 92px;
    padding-bottom: 26px;
  }

  .review__fieldset {
    &--name {
      padding-left: 80px;
      padding-right: 120px;
      margin-bottom: 43px;
    }

    &--contact {
      margin-left: 120px;
      margin-right: 120px;
    }

    &--rating {
      padding-left: 124px;
    }

    &--visited {
      margin-left: 120px;
      margin-right: 120px;
      margin-bottom: 38px;
    }

    &--impression {
      margin-left: 120px;
      margin-right: 120px;
    }
  }

  .review__legend {
    &--rating {
      padding-left: 75px;
    }

    &--contact {
      margin-left: 280px;
    }

    &--visited {
      margin-left: 280px;
    }

    &--impression {
      margin-left: 280px;
    }
  }

  .review__contact-wrapper {
    display: flex;
    padding-top: 50px;
  }

  .review__contant-inner {
    display: flex;
    width: 50%;

    &--phone::after {
      top: 2px;
      right: 79px;
    }

    &--email::after {
      top: 2px;
    }
  }

  .review__contact-input {
    width: 315px;
  }

  .review__contact-label {
    padding-left: 0;
    padding-right: 16px;
    padding-top: 17px;
  }

  .review__contact-span {
    display: none;
  }

  .review__visited-wrapper {
    justify-content: space-between;
    padding-left: 0;
  }

  .review__visited-label {
    width: auto;
  }

  .review__submit-wrapper {
    margin-left: 120px;
    margin-right: 120px;
  }
}
