.social {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $color-bg-blue;

  &:not(:last-child) {
    margin-right: 6px;
  }
}
